-e git+https://github.com/LCBRU/lbrc_flask.git@main#egg=lbrc_flask
Flask
pymysql
wtforms_components
nltk
pymysql
celery==4.4.2
flask-security-too[fsqla,common]
alembic
sqlalchemy<2.00
flask-admin
urllib3