{% extends "ui/page.html" %}
{% from "lbrc_flask/form_macros.html" import render_search, render_button_bar, render_field_actual, render_pagination %}
{% from "lbrc_flask/modal_macros.html" import render_modal %}

{% block content %}

<section>
    <div class="page-header">
        <h1>Column Mappings for Study Data '{{ study_data.study_name }}'</h1>

        {{ render_search(
            search_form,
            'ui.column_mapping',
            placeholder='enter search text - searches column name',
            buttons=[
                {
                    'text': 'Back',
                    'endpoint': 'ui.index',
                },
            ],
            id=study_data.id,
        ) }}

    </div>

    <form action="{{ url_for('ui.column_mapping_save', id=study_data.id) }}" method="POST" class="form panel-body" enctype="multipart/form-data">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="w-auto">#</th>
                    <th scope="col" class="w-50">Source</th>
                    <th scope="col" class="w-50">Destination</th>
                </tr>
            </thead>
            <tbody>

                    {{ mapping_form.hidden_tag() }}

                    {% for f in mapping_form.fields %}
                        <tr>
                            <th scope="row">{{ f['column_number']._value() }}</th>
                            <td>
                                {{ f['name']._value() }}
                            </td>
                            <td>
                                <div class="form-group{% if f['mapping'].errors %} has-error{%endif%}">
                                    {{ render_field_actual(f['mapping'], **{'data-id': f['id']._value()}) }}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

            </tbody>
        </table>
    </form>

</section>

{{ render_pagination(mappings, 'ui.column_mapping', form=search_form, id=study_data.id) }}

{% endblock %}


{% block js %}

<script type="text/javascript">
    $(document).ready(function() {
        $('[name$="mapping"]').select2({
            width: '100%',
        });
    
        $('[name$="mapping"]').on('select2:select', function (e) {
            var mapping = e.params.data['id'];
            var study_data_column_id = $(this).data('id')

            fetch("{{ url_for('ui.column_mapping_update') }}", {
                method: 'post',
                headers: {"Content-type": "application/json; charset=UTF-8"},
                body: JSON.stringify({
                    study_data_column_id: study_data_column_id,
                    mapping: mapping,
                }),
            })
            .then(standard_status_actions);

        });
    });
</script>

{% endblock %}