{% extends "ui/page.html" %}
{% from "lbrc_flask/form_macros.html" import render_search, render_pagination, render_button_bar %}
{% from "lbrc_flask/modal_macros.html" import render_modal %}

{% block content %}

<section>
    <div class="page-header">
        <h1>Study Data</h1>

        {{ render_search(
            search_form,
            'ui.index',
            placeholder='enter search text - searches file name',
            buttons=[
                {
                    'text': 'Upload Study Data',
                    'endpoint': 'ui.study_data_upload',
                },
            ],
        ) }}

    </div>

    <ul class="list-group">
        {% for s in study_datas.items %}
            <li class="list-group-item summary_details">
                <div class='row'>
                    <div class="col-7">
                        <div>
                            <header>
                                <h1>{{s.study_name}}</h1>
                                <h2><a href="{{ url_for('ui.study_data_download', id=s.id) }}">{{s.filename}}</a> uploaded {{s.created_date | datetime_humanize}}</h2>
                            </header>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="btn-toolbar float-right" role="toolbar">
                            <div class="btn-group mr-1 mb-1" role="group">
                                <a class="column_mapping"
                                    title="Edit column mapping for study data {{ s.study_name }}"
                                    href="{{ url_for('ui.column_mapping', id=s.id) }}"><i class="fas fa-random"></i>
                                </a>
                            </div>
                            <div class="btn-group mr-1 mb-1" role="group">
                                <a class="study_data_delete"
                                    data-toggle="modal"
                                    title="Delete study data {{ s.study_name }}"
                                    data-id="{{ s.id }}"
                                    data-name="{{ s.study_name }}"
                                    data-target="#deleteModal"
                                    href="#"><i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</section>

{{ render_pagination(study_datas, 'ui.index', form=search_form) }}


{% call render_modal('deleteModal', 'Delete Study Data') %}
    <p id="modal_description">Please confirm that you wish to delete <span id="name"></span>.</p>
    <form id="delete_form" action="{{ url_for('ui.study_data_delete', prev=request.full_path) }}" method="POST" enctype="multipart/form-data">
        <fieldset>
            {{ confirm_form.hidden_tag() }}

            {{ render_button_bar(cancel_url=request.full_path, submit_label="Delete") }}
        </fieldset>
    </form>
{% endcall %}


{% endblock %}


{% block js %}
<script>
    $(document).ready(function(){
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var modal = $(this);

            modal.find('#name').text(button.data('name'));
            modal.find("#id").val(button.data('id'));
        });
    });
</script>
{% endblock %}