{% extends "ui/menu_page.html" %}
{% from "lbrc/form_macros.html" import render_form_fields, render_field_and_submit %}
{% from "lbrc/pagination.html" import render_pagination, pagination_summary %}

{% block menu_page_content %}
<section class="container">
    <header>
        <h2>Study Data</h2>

        <form action="{{ url_for('ui.index') }}" method="GET" enctype="multipart/form-data">
            <fieldset>
                {{ render_form_fields(search_form) }}

                <div class="button_bar">
                    <a class="icon upload" href="javascript:;" title="Upload Study Data" hx-get="{{ url_for('ui.study_data_upload' ) }}" hx-target="body" hx-swap="beforeend" role="button">Upload Study Data</a>
                </div>
            </fieldset>
        </form>
    </header>

    {{ pagination_summary(study_datas, 'studies') }}

    <ul class="panel_list">
        {% for s in study_datas.items %}
            <li>
                <header class="flex_two_left_grow">
                    <div>
                        {% if s.updating %}
                            {% set disabled = 'disabled' %}
                            {% set reload = 'yes' %}
                        {% else %}
                            {% set disabled = '' %}
                        {% endif %}
                        <div class="flex_header">
                            {% if s.updating %}
                                <div class="pill warning">Updating</div>
                            {% endif %}

                            {% if s.locked %}
                                <div class="pill warning icon locked">Locked</div>
                            {% endif %}

                            {% if not s.locked %}
                                <a title="Delete study data {{ s.study_name }}" hx-post="{{ url_for('ui.study_data_delete', id=s.id) }}" hx-confirm="Are you sure you wish to delete '{{ s.study_name }}'?" href="javascript:;" class="icon delete"></a>
                            {% endif %}
                            <a class="icon download" title="Download study data file" href="{{ url_for('ui.study_data_download', id=s.id) }}"></a>

                            <h3>{{s.study_name}}</h3>
                        </div>
                        <h5>uploaded {{s.created_date | datetime_humanize}}</h5>
                    </div>
                    <nav class="link_list">
                        {% if not s.locked %}
                            <a title="Automap columns for study data {{ s.study_name }}" hx-post="{{ url_for('ui.study_data_automap', id=s.id) }}" hx-confirm="Are you sure you wish to automap '{{ s.study_name }}'?" href="javascript:;" class="icon random" role="button">Automap</a>
                            <a title="Edit column mapping for study data {{ s.study_name }}" href="{{ url_for('ui.column_mapping', id=s.id) }}" class="icon signpost" role="button">Mappings ({{ s.mapped_column_count }} / {{ s.column_count }})</a>
                            <a title="Delete mappings for {{ s.study_name }}" hx-post="{{ url_for('ui.study_data_delete_mappings', id=s.id) }}" hx-confirm="Are you sure you wish to delete the mappings for '{{ s.study_name }}'?" href="javascript:;" class="icon times" role="button">Delete Mappings</a>
                            <a title="Lock mappings for {{ s.study_name }}" hx-post="{{ url_for('ui.study_data_lock', id=s.id) }}" hx-confirm="Are you sure you wish to lock '{{ s.study_name }}'?" href="javascript:;" class="icon lock" role="button">Lock</a>
                        {% elif current_user.is_admin %}
                            <a title="Unlock mappings for {{ s.study_name }}" hx-post="{{ url_for('ui.study_data_unlock', id=s.id) }}" hx-confirm="Are you sure you wish to unlock '{{ s.study_name }}'?" href="javascript:;" class="icon unlock" role="button">Unlock</a>
                        {% endif %}
                        {% if current_user.is_admin %}
                            <a title="Export column mappings for study data {{ s.study_name }}" href="{{ url_for('ui.study_data_export', id=s.id) }}" class="icon export" role="button">Export</a>
                        {% endif %}
                    </nav>    
                </header>
            </li>
        {% endfor %}
    </ul>
</section>

{{ render_pagination(study_datas, 'ui.index', form=search_form) }}

{% endblock %}
