{% extends "lbrc/modal.html" %}

{% from "lbrc/form_macros.html" import render_form_fields %}
{% from "lbrc/pagination.html" import render_pagination, pagination_summary %}

{% block content %}

<section>
    <header>
        <h2>Value Mappings for column {{study_data_column.name}} for Study Data '{{ study_data_column.study_data.study_name }}'</h2>

        <form method="GET" action="{{ url_for('ui.folders') }}">
            <fieldset>
                {{ search_form.hidden_tag() }}
                {{ render_form_fields(search_form) }}
            </fieldset>
        </form>
    </header>

    <table>
        <thead>
            <tr>
                <th scope="col" class="w-50">Source</th>
                <th scope="col" class="w-50">Destination</th>
            </tr>
        </thead>
        <tbody>
                {% for vm in mappings.items %}
                    <tr>
                        <td>{{ vm.value }}</td>
                        <td>
                            <select name="mapping" id="mapping-{{ vm.id }}" data-id="{{vm.id}}">
                                {% for value, name in choices.items() %}
                                    <option value="{{ value }}" {% if value == vm.mapping %}selected{% endif %}>{{ name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
</section>

{{ render_pagination(mappings, 'ui.value_mapping', form=search_form, id=study_data_column.id) }}

{% endblock %}