{% extends "ui/menu_page.html" %}
{% from "lbrc/form_macros.html" import render_form_fields %}
{% from "lbrc/tabbed_display.html" import tabbed_display_tab with context %}

{% block menu_page_content %}

<section class="container tabbed_display" hx-target="body" hx-swap="outerHTML">
    <header>
        <h2>Data Dictionary</h2>

        <div class="button_bar">
            {% if current_user.is_admin %}
                <a class="icon upload" href="javascript:;" title="Upload Study Data" hx-get="{{ url_for('ui.data_dictionary_upload' ) }}" hx-target="body" hx-swap="beforeend" role="button">Upload Data Dictionary</a>
            {% endif %}
        </div>
    </header>

    <div class="tabbed_display_tabs {{form_name}}">
        {% for name, title in forms.items() %}
            {{ tabbed_display_tab(form_name, name, title, url_for('ui.data_dictionary', form_name=name)) }}
        {% endfor %}
    </div>
    <div class="tabbed_display_content">
        
        
    {% for section_name, fields in sections.items() %}
        <h2>{{ section_name }}</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Label</th>
                    <th>Type</th>
                    <th>Choices</th>
                    <th>Notes</th>
                    <th>Validation</th>
                    <th>Min</th>
                    <th>Max</th>
                </tr>
            </thead>
            <tbody>
                {% for d in fields %}
                <tr>
                    <td>{{ d.field_name }}</td>
                    <td>{{ d.field_label }}</td>
                    <td>{{ d.field_type }}</td>
                    <td>
                        {% if d.choice_values | length > 0 %}
                        <ul>
                            {% for c_value, c_name in d.choice_values.items() %}
                            <li>{{ c_name }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </td>
                    <td>{{ d.field_note }}</td>
                    <td>{{ d.text_validation_type }}</td>
                    <td>{{ d.text_validation_min }}</td>
                    <td>{{ d.text_validation_max }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>
        
</section>
{% endblock %}
